# Using the Snscrape package

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [6]:
#scraping function

query = "(from:kanyewest)" #From Kanye West (please Kanye back to Twitter please)
tweets = []


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    tweets.append([tweet.id, tweet.date, tweet.likeCount, tweet.retweetCount, tweet.replyCount, tweet.content])
        
df = pd.DataFrame(tweets, columns=['id', 'date', 'likes', 'retweet', 'reply', 'tweet'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1667 entries, 0 to 1666
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       1667 non-null   int64
 1   date     1667 non-null   datetime64[ns, UTC]
 2   likes    1667 non-null   int64
 3   retweet  1667 non-null   int64
 4   reply    1667 non-null   int64
 5   tweet    1667 non-null   object
dtypes: datetime64[ns, UTC](1), int64(4), object(1)
memory usage: 78.3+ KB

In [7]:
df

,id,date,likes,retweet,reply,tweet
0,1323914087340781569,2020-11-04 09:04:50+00:00,420435,42013,36796,KANYE 2024 https://t.co/Zm2pKcn12t
1,1323730046125699072,2020-11-03 20:53:31+00:00,220999,8199,8721,I VOTED ðŸ‡ºðŸ‡¸ https://t.co/hlgIJUST4x
2,1323729643828989953,2020-11-03 20:51:55+00:00,89995,3134,3592,KANYE2020 ðŸ‡ºðŸ‡¸ https://t.co/3kd8vrrHZQ
3,1323729368594575361,2020-11-03 20:50:49+00:00,70659,2062,2960,ðŸ•Š https://t.co/tFqpKyQzkY
4,1323727338387902465,2020-11-03 20:42:45+00:00,78800,3748,7570,The first vote of my life We are here ...
...,...,...,...,...,...,...
1662,986302853047308288,2018-04-17 17:58:19+00:00,115692,30013,680,try to avoid any contractual situation where y...
1663,986302193715294208,2018-04-17 17:55:42+00:00,176971,57450,807,You have to protect your ability to create at ...
1664,986302131106975749,2018-04-17 17:55:27+00:00,142434,46508,818,As a creative your ideas are your strongest fo...
1665,985672020590546945,2018-04-16 00:11:37+00:00,205577,58952,2349,often people working with the existing conscio...
1666,985671904202764288,2018-04-16 00:11:09+00:00,146947,45760,1304,Some people have to work within the existing c...

In [8]:
df.to_csv("ye-tweets.csv")

# Kanye's tweets EDA
Yes, this would be the overview of the mental health of Kanye West when this dawg using Twitter.

Questions would be asked: 

1. Overview of Kanye's Tweets: Reaction from the audience, chan
2. Did Kanye love himselves? (Occurence counter for keywords)
3. How was Kanye over the time? (Good morning Kanye!)